
###> symfony/framework-bundle ###
/poc_articles/.env.local
/poc_articles/.env.local.php
/poc_articles/.env.*.local
/poc_articles/config/secrets/prod/prod.decrypt.private.php
/poc_articles/public/bundles/
/poc_articles/var/
/poc_articles/vendor/
###< symfony/framework-bundle ###
