<div class="background-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-left">
                <h2 class="custom-text-outline">Profite de</h2>
                <h1 class="custom-text-filled">2 semaines offertes*</h1>
                <button class="btn btn-primary">INSCRIS-TOI MAINTENANT</button>
                <button class="btn btn-secondary">voir les prix</button>
                <br>
                <div class="fond-noir">
                    <p class="custom-text-p">+ UN SAC DE SPORT</p>
                    <small class="custom-text-small">*Offre de Bienvenue valable pour une nouvelle inscription à un
                        abonnement
                        annuel Comfort
                        (24,99€/4 semaines), Premium (29,99€/4 semaines) ou Ultimate (34,99€/4 semaines). Durée de 2 +
                        52
                        semaines.</small>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="/assets/images/pp-thib.jpg" alt="Photo" class="img-fluid"
                    style="max-width: 80%; height: auto;">
            </div>
        </div>
    </div>
</div>
<div class="background-gray">
    <app-search-bar [width]="'50%'" [height]="'100px'"
        [placeholder]="'Rechercher des séances disponibles'"></app-search-bar>
    <app-coach-list></app-coach-list>
</div>