<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <app-search-bar [width]="'100%'" [height]="'100px'"
                [placeholder]="'Rechercher des séances disponibles'"></app-search-bar>
        </div>
    </div>
    <br>
    <div *ngFor="let seance of seances; let i = index" class="row mb-4 align-items-center">
        <div class="col-md-6" [ngClass]="{'order-md-2': i % 2 !== 0}">
            <img src="/assets/images/seance.jpg" alt="Séance Image" class="img-fluid">
        </div>
        <div class="col-md-6" [ngClass]="{'order-md-1': i % 2 !== 0}">
            <h3>{{ seance.theme_seance }}</h3>
            <p>Date: {{ seance.date_heure }}</p>
            <p>Nombre de personnes: {{ seance.type_seance }}</p>
            <p>Niveau: {{ seance.niveau_seance }}</p>
            <p>Statut: {{ seance.statut }}</p>
            <button class="btn btn-link" (click)="viewDetails(seance.id)">
                <i class="fas fa-arrow-right"></i> <!-- Icône de flèche -->
            </button>
        </div>
    </div>
</div>